body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3f4b04;
}

main {
    padding: 2%;
}

.experiences {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
}

.card {
    width: 45%;
    background-color: #89a96d;
    padding: 2%;
    margin-bottom: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #333;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card li {
    margin-bottom: 1.5em;
}

.card li b {
    color: #89a96d;
}

.card li i {
    color: #3f4b04;
}

/* Media queries pour la mise en page responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}

